<div class="container-fluid row d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card card border-light  mt-5">
            <div class="card-body mt-5 mb-0">
                <hr class="bg-primary mt-0" />
                <div class="card-title h3">Project Name</div>
                <form action="appointmentCreate.php" method="post">
                    <div class="form-group">
                        <label>Task</label>
                        <input type="text" class="form-control" name="visitDate" >
                    </div>
                    <div class="form-group">
                        <label>Member(s)</label>
                        <input type="text" class="form-control" name="visitDate" >
                    </div>
                    <div>
                        isaac Joe Dave
                    </div>
                    <button class="btn btn-primary col-sm-12" type="submit" name="dateSent">Save </button>
                </form>
            </div>
        </div>
    </div>
</div>
