
<div class="container-fluid row  justify-content-center">
  <div class="cards col-4 m-3">
    <p class="py-1 bold">Task</p>
    <div class="task">
      <p>Login form</p>
      <i class="p">I</i><i class="p">L</i><i class="p">F</i>
    </div>

    <div class="task">
      register
    </div>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>

  <div class="cards col-4 m-3">
    <p class="py-1 bold">Doing</p>
    <div class="task">
      delete customer
    </div>
    <div class="task">
      login api
    </div>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>

  <div class="cards col-4 m-3">
    <p class="py-1 bold">Done</p>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="task">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>

</div>