 <div class="container d-flex justify-content-center align-items-center text-center">
    <form class="mt-5" style="width: 18rem;"  method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <hr class="bg-primary" />
        <fieldset>
    
            <legend class="h3 text-primary mb-5">Welcome back</legend>
            <input mdbInput type="text" class="form-group form-control" placeholder="Email Address" name="emailAddress" formControlName="emailAddress">
            <input type="password" class="form-group form-control" placeholder="Password" name="password" formControlName="password">
            <div class="form-group">
                <button class="btn btn-primary" type="submit" name="login-btn">Sign Up</button>
            </div>
        </fieldset>
    </form>
</div>