<div class="container-fluid row d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card card border-light  mt-5">
            <div class="card-body mt-5">
                <hr class="bg-primary" />
                <div class="card-title h3">Add a project</div>
                <form action="appointmentCreate.php" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="visitDate" >
                    </div>
                    <div class="form-group">
                        <label>start date</label>
                        <input type="date" class="form-control" name="visitDate" >
                    </div>
                    <button class="btn btn-primary col-sm-12" type="submit" name="dateSent">Save </button>
                </form>
            </div>
        </div>
    </div>
</div>
